
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/dashboard.cshtml";
}
@Styles.Render("~/Content/Css/changepicture.css")
@model Tree_Plantation.BModel.ChangePassword

<form action="/Admin/ChangePassword" method="post">





    <div class="form-group">
        <label for="r_password">Current Password</label>
        <input type="password" class="form-control" id="r_password" name="r_password" placeholder="Enter Password">

        <span class="text-danger"> @Html.ValidationMessageFor(m => m.r_password)</span>

        <span class="text-danger">@ViewBag.r_password</span>
        <span class="text-danger">@ViewBag.a_password</span>

    </div>


    <div class="form-group">
        <label for="n_password">New Password</label>
        <input type="password" class="form-control" id="n_password" name="n_password" placeholder="Enter Password">

        <span class="text-danger"> @Html.ValidationMessageFor(m => m.n_password)</span>

    </div>

    <div class="form-group">
        <label for="c_password">Confirm Password</label>
        <input type="password" class="form-control" id="c_password" name="c_password" placeholder="Confirm Password">

        <span class="text-danger"> @Html.ValidationMessageFor(m => m.c_password)</span>
        <span class="text-danger">@ViewBag.c_password</span>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

